@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

    ol,
    ul {
      list-style: none;
      margin-top: -10px;
      padding:0px;
    }
    
    a {
      text-decoration: none;
      color: #484848;
      margin:0;
      padding:0;
      font-size:10px !important;
    }
    
    
    li{
        display: inline;
        padding-bottom:10px;
        margin-right:10px;  
    }
    p{
        padding-top: 5px;
        font-size:10px;
        margin:0;
    }
    
    
    #formPayment{
        margin-top: 10px; 
    }
    
    
    #formPayment li img{
       margin-left: 2px;
       padding-right:3px ;
    }
    
    .header-payment{
        padding-top: 20px;
        border: solid 0px #484848;
        max-height: 3rem;
        -webkit-box-shadow:0px 1px 1px #ccc;
     -moz-box-shadow:0px 1px 1px #ccc;
     box-shadow:0px 5px 5px #ccc;
    }
    .header-payment img{
        padding-right: 1px;
        
    }
    
   
      .header-payment li a{
        text-decoration: none;
      }
     
      .header-payment li {
        border-bottom: px solid #41295A;
        padding-bottom:15px !important;
      }
    .spa-right{
        float: right;
        color: #41295A;
    
    }
    .spa-rights{    
        margin-left: 90px !important;
        padding-left: 50px;
        
        
    }
    
    #img-des{
        margin-top:-10px;
        margin-bottom:-8px;
    }
    
    #naira{
        margin-left: 70px;
        color: #077B50 !important;
        
    }
    
    .showcase{
        margin: 31px;
        padding-left: 0px;
        padding-top: 15px;
    
    }
   
.form-control {
    height: 50px;
    padding: 17px 0;
    font-size: 14px;
    line-height: 1.42857;
}
.form-control,
.form-group .form-control {
    border: 0;
    background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #41295A);
    background-size: 0 2px, 100% 2px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    font-size: 10px;
    border:1px #41295A;
    height:5px

    
}

form{
    border: solid px #484848;
    border-radius: 5px;
    
    -webkit-box-shadow:1px 1px 7px 1px #ccc;
-moz-box-shadow:1px 1px 7px 1px #ccc;
box-shadow:1px 1px 7px 1px #ccc;
margin-top:-30px

    
}

   .button{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    margin-bottom: 10px;
    background: #41295A;
    font-size:8px !important;
    padding:8px 20px !important;
   
    }

    
        #secure-pay{
          margin-top:-15px
        }
    
    label{
        color: #41295A;
        font-size:10px;
    
    }
    
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (-webkit-min-device-pixel-ratio: 2) {
    ol,
    ul {
      list-style: none;
      margin-top: -10px;
      padding:0px;
    }
    
    a {
      text-decoration: none;
      color: #484848;
      margin:0;
      padding:0;
      font-size:7px;
    }
    
    
    li{
        display: inline;
        padding-bottom:10px;
        margin-right:10px;  
    }
    p{
        padding-top: 5px;
        font-size:10px;
        margin:0;
    }
    
    
    #formPayment{
        margin-top: 10px; 
    }
    
    
    #formPayment li img{
       margin-left: 2px;
       padding-right:3px ;
    }
    
    .header-payment{
        padding-top: 20px;
        border: solid 0px #484848;
        max-height: 3rem;
        -webkit-box-shadow:0px 1px 1px #ccc;
     -moz-box-shadow:0px 1px 1px #ccc;
     box-shadow:0px 5px 5px #ccc;
    }
    .header-payment img{
        padding-right: 1px;
        
    }
    
 
    
      .header-payment li a{
        text-decoration: none;
      }
     
      .header-payment li {
        border-bottom: px solid #41295A;
        padding-bottom:15px;
      }
    .spa-right{
        float: right;
        color: #41295A;
    
    }
    .spa-rights{    
        margin-left: 70px ;
        padding-left: 25px;
        
        
    }
    
    #img-des{
        margin-top:-10px;
        margin-bottom:-8px;
    }
    
    #naira{
        margin-left: 75px;
        color: #077B50 !important;
        
    }
    
    .showcase{
        margin: 31px;
        padding-left: 0px;
        padding-top: 15px;
    
    }
    

   
.form-control {
    height: 50px;
    padding: 17px 0;
    font-size: 14px;
    line-height: 1.42857;
}
.form-control,
.form-group .form-control {
    border: 0;
    background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #41295A);
    background-size: 0 2px, 100% 2px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    font-size: 10px;
    border:1px #41295A;
    height:5px

    
}

form{
    border: solid px #484848;
    border-radius: 5px;
    
    -webkit-box-shadow:1px 1px 7px 1px #ccc;
-moz-box-shadow:1px 1px 7px 1px #ccc;
box-shadow:1px 1px 7px 1px #ccc;
margin-top:-40px

    
}
    
    button{
        margin-bottom: 10px;
        padding: 20px;
        background: #41295A;
        color: #fff;
        font-size:10px!important;
       
        }
    
        #secure-pay{
          margin-top:-15px
        }
    
    label{
        color: #41295A;
        font-size:10px;
    
    }
    
 }

 @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    ol,
    ul {
      list-style: none;
      margin-top: -10px;
      padding:0px;
    }
    
    a {
      text-decoration: none;
      color: #484848;
      margin:0;
      padding:0;
      font-size:10px !important;
    }
    
    
    li{
        display: inline;
        padding-bottom:10px;
        margin-right:10px;  
    }
    p{
        padding-top: 5px;
        font-size:10px;
        margin:0;
    }
    
    
    #formPayment{
        margin-top: 10px; 
    }
    
    
    #formPayment li img{
       margin-left: 2px;
       padding-right:3px ;
    }
    
    .header-payment{
        padding-top: 20px;
        border: solid 0px #484848;
        max-height: 3rem;
        -webkit-box-shadow:0px 1px 1px #ccc;
     -moz-box-shadow:0px 1px 1px #ccc;
     box-shadow:0px 5px 5px #ccc;
    }
    .header-payment img{
        padding-right: 1px;
        
    }
    
   
      .header-payment li {
        border-bottom: px solid #41295A;
        padding-bottom:14px;
      }
       .spa-right{
        float: right;
        color: #41295A;
    
    }
    .spa-rights{    
        margin-left: 80px !important;
        padding-left: 50px;
        
        
    }
    
    #img-des{
        margin-top:-10px;
        margin-bottom:-8px;
    }
    
    #naira{
        margin-left: 68px;
        color: #077B50 !important;
        
    }
}