/* global */

ol,
ul {
  list-style: none;
  margin-top: -10px;
  padding:0px;
}

a {
  text-decoration: none;
  color: #484848;
  margin:0;
  padding:0;
  font-size:10px;
  font-weight:bold;
}


li{
    display: inline;
    margin-right:29px;  
}

p{

    font-size:10px;
    margin:0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}


#formPayment{
    margin-top: 10px; 
}


#formPayment li img{
   margin-left: 10px; 
}

.header-payment{
    padding-top: 15px;
    border: solid 0px #484848;
    max-height: 2.6rem;
    -webkit-box-shadow:0px 1px 1px #ccc;
 -moz-box-shadow:0px 1px 1px #ccc;
 box-shadow:0px 5px 5px #ccc;
}

.header-payment img{
    padding-right: 5px;
    padding-left: 10px;
}

.header-payment .active {
    border-bottom: 2px solid #41295A;
    color:#484848;

  }


  .header-payment li:hover {
    border-bottom: 3px solid #41295A;
    color: #484848;
}


  .header-payment li a{
    text-decoration: none;
     color:#484848;
     font-size:8px;
     font-weight:bold;
  }

  .header-payment li {
    border-bottom: px solid #41295A;
    padding-bottom:14px;
  }



.spa-right{
    float: right;
    color: #41295A;
    margin-right:10px;
    font-weight:bold;
    letter-spacing: 1px;
    
}

#img-des{
    margin-top:-10px;
    margin-bottom:-17px;
}

#naira{
    margin-left:78px;
    color: #077B50 !important;

    
}

.showcase{
    margin: 20px;
    padding-left: 0px;
    padding-top: 15px;

}

.form-control {
    height: 50px;
    padding: 17px 0;
    font-size: 14px;
    line-height: 1.42857;
}
.form-control,
.form-group .form-control {
    border: 0;
    background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #41295A);
    background-size: 0 2px, 100% 2px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    font-size: 10px;
    border:1px #41295A;
    height:5px

    
}

form{
    border: solid px #484848;
    border-radius: 5px;
    
    -webkit-box-shadow:1px 1px 7px 1px #ccc;
-moz-box-shadow:1px 1px 7px 1px #ccc;
box-shadow:1px 1px 7px 1px #ccc;
margin-top:-30px

    
}

.button{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    margin-bottom: 10px;
    background: #41295A;
    font-size:10px;
    padding:8px 25px;
   
    }


    #secure-pay{
        font-size:7px;
        text-transform:uppercase;
      }

label{
    color: #41295A;
    font-size:8px;
    font-weight:bold;
  
}

